<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="miestilo.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Nueva transacccion</title>
</head>
<body>
<div class=" px-4 py-5 my-5 text-center d-flex flex-column gap 3 align-items-center">
  <h1>Nueva transaccion</h1>
  <form th:action="@{/guardanueva}" th:method="post" th:object="${nuevatr}" class="d-flex flex-column gap 3 align-items-center">

    <input th:field="*{concepto}" class="form-control" type="text" placeholder="concepto">
    <input th:field="*{monto}" class="form-control" type="text" placeholder="monto">
    <input th:field="*{creacion}" class="form-control" type="date" placeholder="fecha">
    <input th:field="*{empleado}" class="form-control" type="text" placeholder="idempleado">
    <div class="form-group row">
      <label class="col-form-label" col-sm-4>Empresa :</label>
      <select th:field="*{empresa}" class="form-control" required>
        <th:block th:each="empresa : ${listaempresa}">
          <option th:text="${empresa.nombre}" th:value="${empresa.idempr}"></option>
        </th:block>
      </select>
    </div>
      <div class gap 4>
        <button class="btn btn-primary" type="submit">crear nueva</button>
      </div>



  </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>