<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuario Nuevo</title>
    <link href="miestilo.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class=" px-4 py-5 my-5 text-center d-flex flex-column gap 3 align-items-center">
  <h1>Nuevo Usuario</h1>
  <form th:action="@{/guardausuario}" th:method="post" th:object="${nuevousu}" class="d-flex flex-column gap 3 align-items-center">

    <input th:field="*{correo}" class="form-control" type="text" placeholder="email">
    <input th:field="*{clave}" class="form-control" type="text" placeholder="password">


    <button class="btn btn-primary" type="submit">crear nuevo</button>
  </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>